//colors
$dark: #212529;
$light: #ffffff;
$primary: #000000;
$secondary: #000000;
$tertiary: #000000;
$accent: #000000;
$bg-color: #000000;
$shadow: #000000;
$glow: #000000;
$glass: #000000;
$overlay: #000000;
$border: #000000;

//fonts
$main-font: sans-serif;
$sec-font: sans-serif;